*{
    box-sizing: border-box;
}
h3{
    width: 40vw;
    padding-left: 15px;
}
ul{
    list-style: none;
    width: 50vw;
    
}
li{
    padding: 5px 15px;
    
}
li:hover{
    background-color: darkgray;
}
a{
    text-decoration: none;
    color: black;
}
#mainHeading{
    border-bottom: solid 2px lightgray;
    height:50px;
    box-shadow: 0px 2px 5px 0px;
    clear: both;
    color: red;
}

nav *{
    float: left;   
}
nav{
    width: 90vw;
}
main{
    padding-top: 10px;
    float: left;
    width: 50%;
    height: 750px;
}
.funParagraph{
    font-size: 40px;
    width: 650px;
    color: green;
    padding-left: 75px;
}
article{
    float: right;
    width: 50%;
    height: 750px;
}

footer{
    
    border-top: solid 2px lightgray;
    height:50px;
    box-shadow: 0px 2px 5px 0px;
    clear:both;
    
    
    
}
footer > p{
    float: left;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
}
footer > a{
    
}
aside{
    float: left;
    margin-left: 10vw;
}

#projectBoard{
    clear: both;
    height: 50px;
    padding-top: 15px;
    
}
